body{
    background-color: #F6F8F9;
    background-size: cover;
}

/* logo */

#site_header{
    border: 12.5px;
    padding: 10px 10px;
    height: 100px;
    background-color: #FFFF;
    align-items: center;
    margin-bottom: 12.5px;
    
}

#testata{
    font-size: 50px;
    font-weight: bold;
    vertical-align: middle;
}

.logo{
    height: 75px;
    width: 75px;
    padding: 12.5px 25px;
    vertical-align: middle;
}

/* first box and button */

.container_1{
    background-color: #FFFF;
    border-radius: 10px;
    padding: 20px 100px;
    margin-top: 85px;
    width: 40%;
    height: 5%;
    margin: auto;

}

.form{
    border-radius: 5px;
    font-size:15px;
    height: 30px;
    width: 105px;
    margin-right: 5px; 
}
    
#color{
    border-style: hidden;
    background-color: #14AAF5;
    color: white;
    font-weight: bolder;
}

#color_2{
    background-color: #ffffff57;
    border-color: #e9e7e757;
    color: #b4b4b4;
    font-weight: bold;
}


/* format list  and box */

#container_2{
    background-color: #FFFF;
    padding:5px 100px;
    width: 40%;
    margin: 2px auto;
    border-radius: 10px;
    text-align: left;

} 

.form_button{
    border-radius: 10px;
    font-size:12px;
    height: 25px;
    width: 80px;
    margin-left: 5px;
} 

h3{
    font-weight: bolder;
    font-size: 25px;
    color: #525252;
}

li{
    list-style: none;
    margin-bottom: 10px;

}


.font{
    font-size: 18px;
    font-weight: bolder;
}



/* color button */

#color_button{
    border-style: hidden;
    background-color: #14AAF5;
    color: white;
    font-weight: bolder;
}

#color_button_2{
        border-style: hidden;
        background-color: #b448affb;
        color: white;
        font-weight: bolder;
}

#color_button_3{
    border-style: hidden;
    background-color: #4fc4a0;
    color: white;
    font-weight: bolder;
}

#color_button_4{
    border-style: hidden;
    background-color: #f59414;
    color: white;
    font-weight: bolder;
}

#color_button_5{
    border-style: hidden;
    background-color: #f514e2;
    color: white;
    font-weight: bolder;
}

#color_button_6{
    border-style: hidden;
    background-color: #2e9913;
    color: white;
    font-weight: bolder;
}

/* true and false circle */
.bord_true{
    border-style:inset;
    border-color: rgb(47, 255, 168);
    color: rgb(47, 255, 168);
    padding: 2px 4px;
    border-radius: 50%;
    margin-right: 10px;

}

.bord_false{
    border-style:inset;
    border-color: rgb(255, 1, 1);
    color: rgb(253, 0, 0);
    padding: 2px 4px;
    border-radius: 50%;
    margin-right: 10px;
}

footer{
    padding-left: 110px;
}