body{
    background-color: #F6F8F9;
    background-size: cover;
}


#site_header{
    margin: 0px;
    border: 12.5px;
    padding: 10px 10px;
    height: 100px;
    background-color: #FFFF;
    align-self: center;
}

#testata{
    font-size: 50px;
    font-weight: bold;
}

.logo{
    height: 75px;
    width: 75px;
    padding: 12.5px 25px;
}

.container_1{
    background-color: #FFFF;
    border-radius: 10px;
    padding: 20px 100px;
    margin: 75px 450px;

}

.form{
    border-radius: 5px;
    font-size:15px;
    height: 30px;
    width: 105px;
    margin-right: 5px;
}
    
#color{
    border-style: hidden;
    background-color: #14AAF5;
    color: white;
    font-weight: bolder;
}

#color_2{
    background-color: #ffffff57;
    border-color: #e9e7e757;
    color: #b4b4b4;
    font-weight: bold;
}
